<link rel="import" href="../polymer/polymer-element.html" />
<script src="../jwt-decode/build/jwt-decode.min.js"></script>

<script>
  class MemdbTokenCookie extends Polymer.Element {
    static get is() {
      return "memdb-token-cookie";
    }

    static get properties() {
      return {
        token: {
          type: String,
          notify: true,
          observer: "save"
        },

        jwt: {
          type: Object,
          computed: "decode(token)",
          notify: true,
          observer: "_jwtChanged"
        }
      };
    }

    connectedCallback() {
      super.connectedCallback();
      const match = document.cookie.match(
        new RegExp("memdb-token" + "=([^;]+)")
      );
      this.token = match ? match[1] : null;
    }

    decode(token) {
      return token ? jwt_decode(token) : null;
    }

    _jwtChanged(jwt, old) {
      if (jwt) {
        if (jwt.exp * 1000 < Date.now()) this.destroy();
        else
          this._debouncer = Polymer.Debouncer.debounce(
            this._debouncer,
            Polymer.Async.timeOut.after((jwt.exp - jwt.iat - 60) * 1000),
            this.destroy
          );
      }
    }

    destroy() {
      document.cookie =
        "memdb-token=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/";
      this.token = null;
    }

    save(token) {
      if (token) document.cookie = "memdb-token=" + token + ";path=/";
    }
  }

  window.customElements.define(MemdbTokenCookie.is, MemdbTokenCookie);
</script>
