<link rel="import" href="../polymer/polymer-element.html" />

<link rel="import" href="../iron-form/iron-form.html" />

<link rel="import" href="../paper-input/paper-input.html" />
<link rel="import" href="../paper-spinner/paper-spinner-lite.html" />

<dom-module id="memdb-login">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
      }
      div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
      }
      paper-spinner-lite {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>

    <iron-form id="form" on-iron-form-presubmit="_setParams" on-iron-form-response="_handleResponse" on-iron-form-error="_handleError">
      <form method="post" action$="[[memdbUrl]]/api/v2/login" enctype="application/x-www-form-urlencoded">
        <paper-input type="text" name="email" required label="[[emailLabel]]" value="{{ email }}" error-message="[[_emailError(error)]]"
          invalid="[[_emailError(error)]]"></paper-input>
        <paper-input type="password" name="password" required label="[[passwordLabel]]" value="{{ password }}"
          error-message="[[_passwordError(error)]]" invalid="[[_passwordError(error)]]"></paper-input>
      </form>
    </iron-form>

    <div hidden$="[[!loading]]">
      <paper-spinner-lite active="[[loading]]"></paper-spinner-lite>
    </div>
  </template>

  <script>
    /**
     * `memdb-login`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MemdbLogin extends Polymer.Element {
      static get is() {
        return "memdb-login";
      }

      static get properties() {
        return {
          /**
           * The value for the email input.
           */
          email: {
            type: String
          },

          /**
           * The label for the email input.
           */
          emailLabel: {
            type: String,
            value: "Email"
          },

          /**
           * The value for the password input.
           */
          password: {
            type: String
          },

          /**
           * The label for the pasword input.
           */
          passwordLabel: {
            type: String,
            value: "Password"
          },

          /**
           * The url to memdb.
           */
          memdbUrl: {
            type: String,
            value: "https://member.schack.se"
          },

          /**
           * The token received from memdb
           */
          token: {
            type: String,
            notify: true,
            readOnly: true
          },

          /**
           * True while fetching token
           */
          loading: {
            type: Boolean,
            value: false,
            notify: true
            //	    readOnly: true
          },

          /**
           * If error, the error object
           *
           * @type {Object}
           */
          error: {
            type: Object,
            notify: true
            //			readOnly: true
          },

          expirationTime: {
            type: Number
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.shadowRoot.querySelectorAll("paper-input").forEach(node => {
          node.addEventListener("keypress", this._keyEnter.bind(this));
        });
      }

      _keyEnter(e) {
        if (e.keyCode == 13) {
          this.submit();
        }
      }

      /**
       * Sends login informations to memdb.
       */
      submit() {
        this.$.form.submit();
      }

      /**
       * Sets id param and remove email param if the email-field is a number.
       */
      _setParams(e) {
        var params = e.target.request.body,
          split = params.email.split(":");
        if (split[1]) {
          params.email = split[0];
          params.loginAs = split[1];
        }
        if (params.email - 0 == params.email) {
          params.id = params.email;
          delete params.email;
        }
        if (this.expirationTime) params.expirationTime = this.expirationTime;
        this._loading(true);
      }

      _handleResponse(e) {
        this._setToken(e.detail.response.result);
        this.error = null;
        this._loading(false);
      }

      _handleError(e) {
        this.error = e.detail.request.response.error;
        this._loading(false);
      }

      _emailError(error) {
        if (error) {
          if (error.code == 2)
            return "För många medlemmar har samma mailadress";
          if (error.code == 16) return "Ingen mailadress skickades";
          if (error.code == 18 || error.code == 0)
            return "Ingen medlem hittades";
          if (error.code != 17 && error.code != 19) return "Något gick fel";
        }
        return null;
      }

      _passwordError(error) {
        if (error) {
          if (error.code == 17)
            return "Inget lösenord skickades" || error.message;
          if (error.code == 19) return "Fel lösenord" || error.message;
        }
        return null;
      }

      /**
       * Sends a mail with new password to client
       */
      resetPassword() {
        if (!this.email) return;
        var request = document.createElement("iron-ajax");
        request.addEventListener(
          "response",
          function (e) {
            this._loading(false);
            alert(
              "ett mail har nu skickats till " +
              this.email +
              " med nytt lösenord"
            );
          }.bind(this)
        );
        request.addEventListener("error", this._handleError.bind(this));
        request.url =
          this.memdbUrl +
          "/api/v2/member/recoverpassword?host=" +
          location.host +
          (+this.email ? "&memberid=" + this.email : "&email=" + this.email);
        request.generateRequest();

        this._loading(true);
      }

      _loading(loading) {
        this._debouncer = Polymer.Debouncer.debounce(
          this._debouncer,
          Polymer.Async.timeOut.after(loading ? 200 : null),
          () => {
            this.loading = loading;
          }
        );
      }
    }

    window.customElements.define(MemdbLogin.is, MemdbLogin);
  </script>
</dom-module>