<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>memdb-login demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../memdb-login.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic memdb-login demo</h3>
      <demo-snippet>
        <template>
          <dom-bind>
            <template>
              <memdb-login
                memdb-url="http://peterhalvarsson.se:8080/memdb"
                submit-value="Login"
                reset-password-value="Reset password"
                token="{{token}}">
              </memdb-login>
              <div>[[token]]</div>
            </template>
          </dom-bind>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>